*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    color: #212529;
}
.fas{
    color: #f5f8ff;
}
.intro{
    color: #212529;
}
nav{
    background-color: #2AB6A6;
    top: 0px;
}
.navbar-dark .navbar-toggler{
    border-color: rgba(245, 248, 255,.2)!important;
}
ul{
    list-style-type: none;
    text-transform: uppercase;
    text-align: right;
}
li a:hover{
    color: #006F61 !important;
}
li a{
    color: #f5f8ff!important;
}
a:focus{
    color: #009283!important;
    /*#8ad9d7*/
}
nav img{
    width: 40%;
}
a .fas{
    color: #2ab6a6 !important;
}
main{
    text-align: center;
    display: block;
    margin-bottom: 10px;
}
h1, h2, h3{
    color: #2ab6a6;
}
p{
    font-size: 1.125rem;
}
.appicon{
    width: 35%;
    padding: 10px;
    justify-content: space-between;
}
.storebtnsS{
    display: flex;
    justify-content: space-around;
}
.storebtnsL{
    display: none;
}
.contactform{
    text-align: left;
}
.contactform .btn{
    background-color: #2ab6a6;
    color: #f5f8ff;
}/*
.carousel-item .card{
    background-color: #f5f8ff;
}*/
.card-deck{
    display: none;
}
.specs{
    display: none;
}
.app{
    background-color: #f5f8ff!important;
}
.question{
    color: #2ab6a6;
    text-align: left;
}
.answer{
    text-align: left;
}
.collapsible {
    display: flex;
    background-color: #f5f8ff;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 0.5px solid #ced4da;
    border-radius: .3rem;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    outline: none;
  }
  .collapsible h5{
      margin-bottom: 0;
  }
  .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 40ch;
  }
  .collapsible:after {
    content: '+';
    font-size: 20px;
    color: #2ab6a6;
  }
  .collapsible.active:after {
    content: "-";
    font-size: 24px;
  }
@media screen and (min-width: 768px){
    .collapsing{
        -webkit-transition: none !important;
        transition: none !important;
        display: none !important;
    }
    nav img{
        width: 25%;
    }
    li a{
        font-weight: bold;
    }
    .carousel{
        display: none;
    }
    .bracelets .card{
        background-color: white;
    }
    .specs .fas, .fab{
        color: #2ab6a6;
    }
    .specs i{
        margin: 10px auto;
    }
    .specs .card-text{
        margin-bottom: 10px;
        font-size: 1.25rem;
    }
    .specs .card-body{
        padding: 10px 5px;
    }
    .storebtnsS{
        display: none;
    }
    .storebtnsL{
        display: flex;
        justify-content: space-evenly;
    }
    .appicon{
        width: 25%;
    }
    .content{
        width: 100%;
    }
}
@media screen and (min-width: 1024px){
    li a{
        font-size: 1.5rem;
    }
    p, label{
        font-size: 1.25rem!important;
    }
    /*
    nav img{

    }
    
    .missieimg{
        background-image: url(/img/sebastian-herrmann-IfLWkrhFrqc-unsplash-min.jpg);
        background-image: url(/img/rikki-chan-_k31aFqnmTM-unsplash-min.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #2ab6a6;
        background-blend-mode: darken;
    }
    .missieimg p{
        width: 55%;
        color: #f5f8ff;
        text-align: left;
    }
    .intro{
        text-align: left;
        color: #f5f8ff;
    }*/
  .content{
      width: 100%;
  }
}
@media screen and (min-width: 1280px){
    
}
@media screen and (min-width: 1440px){
    nav img{
        width: 15%;
    }
}
@media screen and (min-width: 1920px){
    nav img{
        width: 10%;
    }
}