*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    color: #212529;
}
.fas{
    color: #f5f8ff;
}
.intro{
    color: #212529;
}
nav{
    background-color: #2AB6A6;
    top: 0px;
}
.navbar-dark .navbar-toggler{
    border-color: rgba(245, 248, 255,.2)!important;
}
ul{
    list-style-type: none;
    text-transform: uppercase;
    text-align: right;
}
li a:hover{
    color: #006F61 !important;
}
li a{
    color: #f5f8ff!important;
}
a:focus{
    color: #009283!important;
    /*#8ad9d7*/
}
nav img{
    width: 40%;
}
main{
    text-align: center;
    display: block;
}
h1, h2, h3{
    color: #2ab6a6;
}
p{
    font-size: 1.125rem;
}
.appicon{
    width: 25%;
    padding: 10px;
    justify-content: space-between;
}
.storebtnsS{
    display: flex;
    justify-content: space-around;
}
.storebtnsL{
    display: none;
}
.contactform{
    text-align: left;
}
.contactform .btn{
    background-color: #2ab6a6;
    color: #f5f8ff;
}/*
.carousel-item .card{
    background-color: #f5f8ff;
}*/
.card-deck{
    display: none;
}
.specs{
    display: none;
}/*
.jumbotron{
    background-color: #f5f8ff!important;
}*/
@media screen and (min-width: 768px){
    .collapsing{
        -webkit-transition: none !important;
        transition: none !important;
        display: none !important;
    }
    nav img{
        width: 25%;
    }
    li a{
        font-weight: bold;
    }
    .carousel{
        display: none;
    }
    .bracelets .card{
        background-color: white;
    }
    .specs .fas, .fab{
        color: #2ab6a6;
    }
    .specs i{
        margin: 10px auto;
    }
    .specs .card-text{
        margin-bottom: 10px;
        font-size: 1.25rem;
    }
    .specs .card-body{
        padding: 10px 5px;
    }
    .storebtnsS{
        display: none;
    }
    .storebtnsL{
        display: flex;
        justify-content: space-evenly;
    }
    .appicon{
        width: 30%;
    }
}
@media screen and (min-width: 1024px){
    li a{
        font-size: 1.5rem;
    }
    p, label{
        font-size: 1.25rem!important;
    }/*
    .missieimg{
        background-image: url(/img/sebastian-herrmann-IfLWkrhFrqc-unsplash-min.jpg);
        background-image: url(/img/rikki-chan-_k31aFqnmTM-unsplash-min.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #2ab6a6;
        background-blend-mode: darken;
    }
    .missieimg p{
        width: 55%;
        color: #f5f8ff;
        text-align: left;
    }
    .intro{
        text-align: left;
        color: #f5f8ff;
    }*/
}