*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    color: #212529;
}
.fas{
    color: #f5f8ff;
}
.intro{
    color: #212529;
}
nav{
    background-color: #2AB6A6;
    top: 0px;
}
.navbar-dark .navbar-toggler{
    border-color: rgba(245, 248, 255,.2)!important;
}
ul{
    list-style-type: none;
    text-transform: uppercase;
    text-align: right;
}
li a:hover{
    color: #006F61 !important;
}
li a{
    color: #f5f8ff!important;
}
a:focus{
    color: #009283!important;
    /*#8ad9d7*/
}
nav img{
    width: 40%;
}
a .fas{
    color: #2ab6a6 !important;
}
main{
    text-align: center;
    display: block;
    margin-bottom: 10px;
    overflow-x: hidden;
}
h1, h2, h3{
    color: #2ab6a6;
}
p{
    font-size: 1.125rem;
}
.appicon{
    width: 35%;
    padding: 10px;
    justify-content: space-between;
}
.storebtnsS{
    display: flex;
    justify-content: space-around;
}
.storebtnsL{
    display: none;
}
.contactform{
    text-align: left;
}
.contactform .btn{
    background-color: #2ab6a6;
    color: #f5f8ff;
}/*
.carousel-item .card{
    background-color: #f5f8ff;
}*/
.card-deck{
    display: none;
}
.card {
    border: 1px solid #2ab6a6;
}
.specs{
    display: none;
}
.app{
    background-color: #f5f8ff!important;
}
.question{
    color: #2ab6a6;
    text-align: left;
}
.answer{
    text-align: left;
}
.collapsible {
    display: flex;
    background-color: #f5f8ff;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 0.5px solid #ced4da;
    border-radius: .3rem;
    text-align: left;
    justify-content: space-between;
    align-items: center;
    outline: none;
  }
  .collapsible h5{
      margin-bottom: 0;
  }
  .content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 100%;
  }
  .collapsible:after {
    content: '+';
    font-size: 20px;
    color: #2ab6a6;
  }
  .collapsible.active:after {
    content: "-";
    font-size: 24px;
  }
  .slogan {
    font-size: 0.8rem;
  }
  footer {
    text-align: center;
  }
  footer a{
      color: #2ab6a6;
  }
  #myVideo {
    display: none;
  }
  .app {
    background-color: white !important;
  }
  .video-content {
    display: none;
  }
  iframe{
      display: none;
  }
@media screen and (min-width: 768px){
    .collapsing{
        -webkit-transition: none !important;
        transition: none !important;
        display: none !important;
    }
    nav img{
        width: 25%;
    }
    li a{
        font-weight: bold;
    }
    .carousel{
        display: none;
    }
    .bracelets .card{
        background-color: white;
    }
    .specs .fas, .fab{
        color: #2ab6a6;
    }
    .specs i{
        margin: 10px auto;
    }
    
    .specs .card-text{
        margin-bottom: 10px;
        font-size: 1.25rem;
    }
    .specs .card-body{
        padding: 10px 5px;
    }
    .storebtnsS{
        display: none;
    }
    .storebtnsL{
        display: flex;
        justify-content: space-evenly;
    }
    .storebtnsL img{
        width: 70%;
    }
    .appicon{
        width: 25%;
    }
    .content{
        width: 100%;
    }
    .slogan {
        font-size: 1rem;
    }
    iframe{
        display: block;
        margin: 0 auto;
    }
    .video-content {
        display: initial;
    }
}
@media screen and (min-width: 1024px){
    li a{
        font-size: 1rem;
        margin: 0 20px 0 20px;
    }
    p, label{
        font-size: 1.25rem!important;
    }
  .content{
      width: 100%;
  }
  #myVideo {
        display: initial;
        width: 100%;
    }
  .video-content {
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 100vh;
    text-align: center;
  }
  #action-btns {
    position: absolute;
    transform: translateY(-1000px);
    margin-left: 25px;
  }
  .action-btn {
    cursor: pointer;
    width: 50px;
    margin: 0 20px 0 20px;
  }
}
@media screen and (min-width: 1280px){
    .missieimg{
        display: flex;
        align-items: center;
    }
    .missieimg .txt{
        text-align: left;
        width: 60%;
    }
    .intro{
        text-align: center;
    }
}
@media screen and (min-width: 1440px){
    nav img{
        width: 15%;
    }
}
@media screen and (min-width: 1920px){
    nav img{
        width: 10%;
    }
}